<div>
  <h2 id="page-heading" data-cy="RelationHeading">
    <span redsurgirTranslate="redsurgirApp.relation.home.title">Relations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span redsurgirTranslate="redsurgirApp.relation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-relation"
        [routerLink]="['/relation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span redsurgirTranslate="redsurgirApp.relation.home.createLabel"> Create a new Relation </span>
      </button>
    </div>
  </h2>

  <redsurgir-alert-error></redsurgir-alert-error>

  <redsurgir-alert></redsurgir-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="relations?.length === 0">
    <span redsurgirTranslate="redsurgirApp.relation.home.notFound">No relations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="relations && relations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span redsurgirTranslate="global.field.id">ID</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.relation.familyRelation">Family Relation</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.relation.workRelation">Work Relation</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.relation.personalRelation">Personal Relation</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.relation.contactData">Contact Data</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let relation of relations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/relation', relation.id, 'view']">{{ relation.id }}</a>
          </td>
          <td>{{ relation.familyRelation }}</td>
          <td>{{ relation.workRelation }}</td>
          <td>{{ relation.personalRelation }}</td>
          <td>
            <div *ngIf="relation.contactData">
              <a [routerLink]="['/contact-data', relation.contactData?.id, 'view']">{{ relation.contactData?.documentNumberContact }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/relation', relation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/relation', relation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(relation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
