<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="redsurgir-document-type-heading"
        data-cy="DocumentTypeCreateUpdateHeading"
        redsurgirTranslate="redsurgirApp.documentType.home.createOrEditLabel"
      >
        Create or edit a Document Type
      </h2>

      <div>
        <redsurgir-alert-error></redsurgir-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" redsurgirTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" redsurgirTranslate="redsurgirApp.documentType.initials" for="field_initials">Initials</label>
          <input type="text" class="form-control" name="initials" id="field_initials" data-cy="initials" formControlName="initials" />
          <div *ngIf="editForm.get('initials')!.invalid && (editForm.get('initials')!.dirty || editForm.get('initials')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('initials')?.errors?.required"
              redsurgirTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('initials')?.errors?.maxlength"
              redsurgirTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" redsurgirTranslate="redsurgirApp.documentType.documentName" for="field_documentName"
            >Document Name</label
          >
          <input
            type="text"
            class="form-control"
            name="documentName"
            id="field_documentName"
            data-cy="documentName"
            formControlName="documentName"
          />
          <div
            *ngIf="editForm.get('documentName')!.invalid && (editForm.get('documentName')!.dirty || editForm.get('documentName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentName')?.errors?.required"
              redsurgirTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentName')?.errors?.maxlength"
              redsurgirTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" redsurgirTranslate="redsurgirApp.documentType.stateDocumentType" for="field_stateDocumentType"
            >State Document Type</label
          >
          <select
            class="form-control"
            name="stateDocumentType"
            formControlName="stateDocumentType"
            id="field_stateDocumentType"
            data-cy="stateDocumentType"
          >
            <option [ngValue]="null">{{ 'redsurgirApp.State.null' | translate }}</option>
            <option *ngFor="let state of stateValues" [value]="state">{{ 'redsurgirApp.State.' + state | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('stateDocumentType')!.invalid &&
              (editForm.get('stateDocumentType')!.dirty || editForm.get('stateDocumentType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('stateDocumentType')?.errors?.required"
              redsurgirTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span redsurgirTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span redsurgirTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
