<div>
  <h2 id="page-heading" data-cy="ContactDataHeading">
    <span redsurgirTranslate="redsurgirApp.contactData.home.title">Contact Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span redsurgirTranslate="redsurgirApp.contactData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-data"
        [routerLink]="['/contact-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span redsurgirTranslate="redsurgirApp.contactData.home.createLabel"> Create a new Contact Data </span>
      </button>
    </div>
  </h2>

  <redsurgir-alert-error></redsurgir-alert-error>

  <redsurgir-alert></redsurgir-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contactData?.length === 0">
    <span redsurgirTranslate="redsurgirApp.contactData.home.notFound">No contactData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contactData && contactData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span redsurgirTranslate="global.field.id">ID</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.documentNumberContact">Document Number Contact</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.cellPhoneNumber">Cell Phone Number</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.country">Country</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.city">City</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.email">Email</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.department">Department</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.firstName">First Name</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.secondName">Second Name</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.firstLastName">First Last Name</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.secondLastName">Second Last Name</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.neighborhood">Neighborhood</span></th>
          <th scope="col"><span redsurgirTranslate="redsurgirApp.contactData.affiliate">Affiliate</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contactData of contactData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-data', contactData.id, 'view']">{{ contactData.id }}</a>
          </td>
          <td>{{ contactData.documentNumberContact }}</td>
          <td>{{ contactData.cellPhoneNumber }}</td>
          <td>{{ contactData.country }}</td>
          <td>{{ contactData.city }}</td>
          <td>{{ contactData.email }}</td>
          <td>{{ contactData.department }}</td>
          <td>{{ contactData.firstName }}</td>
          <td>{{ contactData.secondName }}</td>
          <td>{{ contactData.firstLastName }}</td>
          <td>{{ contactData.secondLastName }}</td>
          <td>{{ contactData.neighborhood }}</td>
          <td>
            <div *ngIf="contactData.affiliate">
              <a [routerLink]="['/affiliate', contactData.affiliate?.id, 'view']">{{ contactData.affiliate?.documentNumber }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-data', contactData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-data', contactData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contactData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" redsurgirTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
